<div class="container-flex">
  <div class="dash-item">
    <div class="card card-custom bg-white border-white">
      <div class="card-custom-img" style="background-image: url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: cover; background-position: center; height: 200px;">
      </div>
      <div class="card-body" style="padding-top: 5px; padding-bottom: 0px;">
        <h5 class="card-title">Membresía: </h5>
        <p class="card-text">Aquí podras ver todos los detalles de tu mebresía.
          <br> Desde el nombre de la misma, hasta el detalle de cada uno de los productos que incluye.</p>
      </div>
      <div class="card-footer" style="background: inherit; border-color: inherit; padding-top: 2px;">
        <a href="/dashboard/membresia" class="btn btn-neutral">Ver detalle de membresía.</a>
      </div>
    </div>
    </a>
  </div>

  <div class="dash-item">
    <div class="card card-custom bg-white border-white">
      <div class="card-custom-img" style="background-image: url(https://images.pexels.com/photos/147408/pexels-photo-147408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: cover; background-position: center; height: 200px;">
      </div>
      <div class="card-body" style="padding-top: 5px; padding-bottom: 0px;">
        <h5 class="card-title">Progreso: </h5>
        <p class="card-text">Solo necesitas proporcionarnos unos cuantos datos y nosotros nos encargaremos
          de mostrarte tu avance en el logro de tus objetivos
        </p>
      </div>
      <div class="card-footer" style="background: inherit; border-color: inherit; padding-top: 2px;">
        <a href="/dashboard/progreso" class="btn btn-neutral">Ve tu progreso</a>
      </div>
    </div>
    </a>
  </div>

  <div class="dash-item">
    <div class="card card-custom bg-white border-white">
      <div class="card-custom-img" style="background-image: url(https://images.pexels.com/photos/46239/salmon-dish-food-meal-46239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: cover; background-position: center; height: 200px;">
      </div>
      <div class="card-body" style="padding-top: 5px; padding-bottom: 0px;">
        <h5 class="card-title">Recetas: </h5>
        <p class="card-text">Aquí podrás encontrar recetas distintas todos los días para que nunca comas lo mismo. </p>
      </div>
      <div class="card-footer" style="background: inherit; border-color: inherit; padding-top: 2px;">
        <a href="/dashboard/recetas" class="btn btn-neutral">Ver recetas.</a>
      </div>
    </div>
    </a>
  </div>

  <div class="dash-item">
    <div class="card card-custom bg-white border-white">
      <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg); background-size: cover; background-position: center; height: 200px;">
      </div>
      <div class="card-body" style="padding-top: 5px; padding-bottom: 0px;">
        <h5 class="card-title">Extras: </h5>
        <p class="card-text">
          Aquí podrás tener acceso a algunas herramientas extras para que tu experiencia sea aún mejor.
      </div>
      <div class="card-footer" style="background: inherit; border-color: inherit; padding-top: 2px;">
        <a href="/dashboard/extras" class="btn btn-neutral">Ver detalles.</a>
      </div>
    </div>
    </a>
  </div>