<div class="page-header" style="background-image: url('/assets/img/antoine-barres.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="text-center">Membresía actual: </h1>
      <br />
    </div>
  </div>
</div>
<form action="/dashboard/membresia/editar" method="POST" id="apply" onSubmit="if(!confirm('¿Estás seguro que quieres cambiar tu subscripción?. \n Tus cambios se verán reflejados el siguiente periodo de facturación')){return false;}">
  <h2 style="text-align:center"> ¿A cuál membresía deseas cambiar? </h2>
  <div class="plans-container">
    {{#each plans}}
    <div class="plan">
      <div class="card">
        <div class="card-img-body">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="membership" id="membership" value="{{this._id}}">
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <img class="card-img" src="{{this.photoPlan}}" style="max-width: 200px" alt="Card image cap">
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{this.description}}</p>
          <span class="label label-success">Costo: {{this.price}} MXN </span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="d-flex justify-content-center" style="padding:8px 0;">
    <p><button type="submit" class="btn btn-danger btn-modal">Realizar cambio</button></p>
  </div>
  </div>
</form>