<div class="container">
  <div class="row">
    <h1 class="text-center">Sitio en construcción</h1>
    <div class="d-flex justify-content-center align-items-center">
      <img src="https://www.zaztre.com/images/error_404.gif?crc=4049565819" alt="">
    </div>
  </div>
</div>