<div class="container">
  <div class="row">
    <div class="container-flex align-items-center" style="width: 100%; ">
      <h2 class="dash-item text-center">Sitio en construcción:</h2>
      <div class="dash-item">
        <img class="imggg" src="https://www.zaztre.com/images/error_404.gif?crc=4049565819" alt="">
      </div>
    </div>
  </div>
</div>