<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/antoine-barres.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="text-center">Membresía</h1>
      <br />
    </div>
  </div>
</div>
<div class="container">
  <h4 style="padding-top: 20px;" class="text-center">Detalles de tu Membresía</h4>
  <div class=" row">
    <div class="col-md-4">
      <div class="owner">
        <div class="d-flex justify-content-center">
          <div style="padding: 15px; max-width: 180px;">
            <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
        </div>
        <div class="name">
          <h4 class="title" style="margin: 0;">Membresía Gold<br /></h4>
          <h6 class="description">Costo: $700</h6>
          <p><a href="/dashboard/membresia/editar" class="btn btn-danger">Cambiar membresía</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h6 style="padding-top: 20px">Tu membresía incluye lo siguiente: </h6>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-primary badge-pill">14 pz</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">2 pz</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mancuernas adidas 3oz
          <span class="badge badge-primary badge-pill">2 pz</span>
        </li>
      </ul>
    </div>
  </div>
</div>