<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/antoine-barres.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="text-center">Membresía</h1>
      <br />
    </div>
  </div>
</div>
<div class="container">
  <h4 style="padding-top: 20px;" class="text-center">Detalles de Mebresía</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="owner">
        <div class="d-flex justify-content-center">
          <div style="padding: 15px; max-width: 180px;">
            <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
        </div>
        <div class="name">
          <h4 class="title" style="margin: 0;">Jane Faker<br /></h4>
          <h6 class="description">Music Producer</h6>
        </div>
      </div>
    </div>
    <div class="col-md-8" style="border: 1px solid black;">
      Form 2
    </div>
  </div>
</div>