
<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url('https://images.pexels.com/photos/39671/physiotherapy-weight-training-dumbbell-exercise-balls-39671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">

  <div>
  <img src="https://res.cloudinary.com/ironhackmigu8/image/upload/v1544122289/WhatsApp_Image_2018-12-06_at_12.51.07.jpg" alt="Ejemplo de gráfica de pérdida de peso">
  </div>

</div>
</div>

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6 card" style="padding:25px">
    <form action="">
      <div class="form-group">
        <label>
          ¿Cuál fue tu peso hoy?
        </label>
        <input type="text" class="form-control" placeholder="Aquí tu peso" name="name" value="{{name}}">
      </div>
        <br>
        <br>
        <p>
          <input type="submit" class="btn btn-round btn-danger" value="Guardar peso">
        </p>
    </form>
</div>
</div>