            <div class="container row">
                <div class="col-8 col-sm-6 col-md-3 mr-auto ml-auto">
                    <h4 class="images-title">Plan básico</h4>
                    <img src="assets/img/p1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Nuestra membresía más básica con todo el equipo que necesitas para estar en
                        forma.</p>
                </div>

                <div class="col-8 col-sm-6 col-md-3 mr-auto ml-auto">
                    <h4 class="images-title">Plan estándar</h4>
                    <img src="assets/img/p2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Disfruta de bancos y otros productos que te ayudarán a realizar muchos más
                        ejercicios.</p>
                </div>

                <div class="col-8 col-sm-6 col-md-3 mr-auto ml-auto">
                    <h4 class="images-title">Plan premium</h4>
                    <img src="assets/img/p3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Nuestro plan más completo. Disfrutarás equipo exclusivo que te ayudarán a
                        llegar mucho antes a tu objetivo.</p>
                </div>
            </div>

            <div class="section"></div>
            <div id="images">
                <div class="container section section-dark text-center">
                    <div class="tim-title">
                        <h3>Testimonios</h3>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-2 mr-auto  ml-auto">