    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('https://adelgazarencasa.co/wp-content/uploads/2017/12/de221440f81c704b09b44df6883f8116.png')">
            <div class="filter"></div>
    		<div class="content-center">
    			<div class="container">
    				<div class="title-brand">
    					<h1 class="presentation-title">Get Fit at Home</h1>
    				</div>

    				<h2 class="presentation-subtitle text-center">Descubre la nueva forma de hacer ejercicio desde la comodidad de tu hogar. </h2>
    			</div>
    		</div>
    	</div>
        <div class="main">
                <div class="container">
                    <div class="tim-title">
                        <h2>Nuestras membresías</h2>
                    </div>
            <div class="container row">
                <div class="col-8 col-sm-6 col-md-3 mr-auto ml-auto">
                    <h4 class="images-title">Plan básico</h4>
                    <img src="assets/img/p1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Nuestra membresía más básica con todo el equipo que necesitas para estar en forma.</p>
                </div>

                <div class="col-8 col-sm-6 col-md-3 mr-auto ml-auto">
                    <h4 class="images-title">Plan estándar</h4>
                    <img src="assets/img/p2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Disfruta de bancos y otros productos que te ayudarán a realizar muchos más ejercicios.</p>
                </div>

                <div class="col-8 col-sm-6 col-md-3 mr-auto ml-auto">
                    <h4 class="images-title">Plan premium</h4>
                    <img src="assets/img/p3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Nuestro plan más completo. Disfrutarás equipo exclusivo que te ayudarán a llegar mucho antes a tu objetivo.</p>
                </div>
            </div>
                    
            <div class="section"></div>
            <div id="images">
                <div class="container section section-dark text-center">
                    <div class="tim-title">
                        <h3>Testimonios</h3>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-2 mr-auto  ml-auto">
                            <h4 class="images-title">Andrés Manuel López Obrador</h4><br><br>
                            <img src="https://www.eleconomista.com.mx/__export/1539805040023/sites/eleconomista/img/2018/10/17/andres_manuel_lopez_obrador_amlo_tamaulipas_notimex.jpg_2118499843.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                            <br>
                            <p class="text-center">Debido a mi horario de trabajo solo podía asistir media hora al gimnasio antes que lo cerraran, ahora puedo entrenar sin ninguna preocupación</p>
                        </div>
                        <div class="col-6 col-sm-3 col-md-2 mr-auto  ml-auto">
                            <h4 class="images-title">Ludovico Peluche</h4><br>
                            <img src="https://yt3.ggpht.com/a-/AN66SAx-DDcLZOHtCv3kxHrf08AIYWCWvDosFss77Q=s900-mo-c-c0xffffffff-rj-k-no" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                            <p class="text-center">El equipo que tengo con mi membresía Premium es de la más alta calidad, me siento muy satisfecho con el costo/beneficio. 100% rercomendable!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
                    <div class="row justify-content-md-center sharing-area text-center">
                        <div class="text-center col-md-12 col-lg-8">
                            <h3>¡Síguenos en nuestras redes sociales y gana increíbles descuentos!</h3><br>
                        </div>
                        <div class="text-center col-md-12 col-lg-8">
                            <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                                <i class="fa fa-instagram"></i> Instagram
                            </a>
                            <a href="https://www.facebook.com/Get-Fit-at-Home-162955534155684/?jazoest=26510011966708249119107781198598109681011191206951110107541137183568988831214581829912277101121578749516710465586510011911010968104957384516886117895511678100113122909011467102797671994511190958267997310473101112115866765" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </div>
                    </div>
				</div>
			</div>
        </div>
	</div>
    <footer class="footer" style="padding-top:42px">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="https://www.freeprivacypolicy.com/privacy/view/5610a0907156dd3ef5784df977ce9502">Aviso de privacidad</a></li>
                    </ul>
                </nav>               
            </div>
        </div>
    </footer>